* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Fira Sans', arial, sans-serif; }

.c-Calculadora {
  margin: 0 auto;
  padding: 10px;
  max-width: 400px; }
  .c-Calculadora, .c-Calculadora * {
    font-family: "Fira Sans", arial, sans-seirf;
    font-size: 13px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .c-Calculadora__numero {
    height: 30px;
    padding: 5px;
    width: 40px; }
  .c-Calculadora__operador {
    display: none;
    height: 30px;
    width: 40px; }
  .c-Calculadora__boton {
    cursor: pointer;
    text-align: center;
    width: 60px;
    height: 30px; }
  .c-Calculadora__resultado {
    margin-top: 10px;
    display: table;
    width: 100%;
    height: 30px;
    border: 1px solid #eee;
    padding: 5px; }
    .c-Calculadora__resultado__content {
      display: table-cell;
      vertical-align: middle; }
