<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Calculadora</title>
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <!-- MainContent -->
  <div class="MainContet">

    <!-- Calculadora -->
    <div class="c-Calculadora" id="Calculadora">
      <div class="c-Calculadora__header">
        <h1 class="c-Calculadora__title">Ingresa dos números presiona el botón 'Sumar'</h1>
      </div>
      <div class="c-Calculadora__content">
        <input v-model="numero_a" type="text" class="c-Calculadora__numero" id="numero_a">
        <input type="text" class="c-Calculadora__operador">
        <input v-model="numero_b" type="text" class="c-Calculadora__numero" id="numero_b">
        <button v-on:click="sumar" class="c-Calculadora__boton">Sumar</button>

        <div class="c-Calculadora__resultado">
          <div class="c-Calculadora__resultado__content">
            Resultado: {{ resultado }}
          </div>
        </div>
      </div>
    </div>
    <!-- endof:Calculadora -->

  </div>
  <!-- endof:MainContent -->

  <script src="js/vendor/vue.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
