// Fonts
$font_base: 'Roboto';

// Fonts weight
$weight_light: 300;
$weight_normal: normal;
$weight_bold: bold;

// Font styles
$style_normal: normal;
$style_italic: italic;

// Sizes
$size_small: 12px;
$size_medium: 16px;

// Colors
// Para el nombrado de colores, se usa la herramienta online http://chir.ag/projects/name-that-color/
$color_silver-a:    #CCCCCC;
$color_silver-b:    #c4c4c4;
$color_mine-shaft:  #222222;
$color_ebb:         #f1eded;
$color_alto:        #d6d6d6;
$color_dodger-blue: #4D90FE;
$color_royal-blue:  #347aec;

// Breakpoints (En este proyecto no es necesario)
